In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [3]:
ds=pd.read_csv('advertising.csv')
ds.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
ds.describe()

In [ ]:
ds.shape

In [ ]:
sb.pairplot(ds , x_vars=['TV','Radio','Newspaper'],y_vars='Sales',kind='scatter')

In [ ]:
ds['TV'].plot.hist(bins=10)

In [ ]:
ds['Radio'].plot.hist(bins=10,color='blue',xlabel='Radio')

In [ ]:
ds['Newspaper'].plot.hist(bins=10,color='yellow',xlabel='Newspaper')

In [ ]:
sb.heatmap(ds.corr(),annot=True)

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(ds[['TV']],ds[['Sales']],test_size=0.3,random_state=0)

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

In [ ]:
res=model.predict(x_test)
res

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
plt.plot(res)

In [ ]:
plt.scatter(x_test,y_test)
plt.plot(x_test, 7.14382225 + 0.05473199 * x_test,'r')